.bicycles {
    background-color: $light-grey;
}

.bicycles__wrapper {
    max-width: 1130px;
    margin: 0 auto;
    padding-bottom: 107px;
}

.bicycles__heading {
    margin: 0;
    margin-bottom: 51px;
    padding-top: 154px;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: $basic-black;
    text-align: center;
}

.bicycles__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bicycles__item {
    position: relative;
}

.bicycles__item--road {
    padding-top: 10px;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        left: -58px;
        top: 165px;
        width: 180px;
        height: 180px;
        border: 27px solid $aqua;
        border-radius: 50%;
        box-sizing: border-box;
        z-index: -1;
    }
}

.bicycles__item--mountain {
    padding-top: 40px;

    &::before,
    &::after {
        position: absolute;
        content: "";
        left: -19px;
        top: 21px;
        width: 47px;
        height: 47px;
        border: 8px solid $aqua;
        box-sizing: border-box;
    }

    &::after {
        transform: translate(337px, 560px);
    }
}

.bicycles__item--kids {
    &::before {
        position: absolute;
        content: "";
        right: -34px;
        top: -32px;
        width: 95px;
        height: 95px;
        border: 17px solid $aqua;
        border-radius: 50%;
        box-sizing: border-box;
    }
}