.bicycles {
    background-color: $light-grey;
}

.bicycles__wrapper {
    max-width: 1130px;
    margin: 0 auto;
    padding-bottom: 127px;

    @media (min-width: 1023px) and (max-width: 1220px) {
        width: calc(100% - 80px);
    }

    @media (max-width: 1023px) {
        max-width: 590px;
        padding-bottom: 49px;
    }

    @media (max-width: 767px) {
        padding-bottom: 13px;
    }
}

.bicycles h2 {
    margin: 0;
    margin-bottom: 51px;
    padding-top: 154px;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: $basic-black;
    text-align: center;

    @media (max-width: 1023px) {
        margin-bottom: 30px;
        padding-top: 45px;
        font-size: 24px;
        line-height: 41px;
    }

    @media (max-width: 767px) {
        padding-top: 50px;
    }
}

.bicycles ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 767px) {
        justify-content: center;
    }
}

.bicycles__item {
    position: relative;

    @media (max-width: 1023px) {
        width: 270px;
        margin-bottom: 10px;
    }

    @media (max-width: 767px) {
        padding: 0 20px;
        margin-bottom: 0;
    }
}

.bicycles__item img {
    @media (max-width: 1023px) {
        width: 270px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }

    @media (min-width: 1023px) and (max-width: 1220px) {
        width: 300px;
      }
}

.bicycles p {
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    margin: 8px 0 20px 0;

    @media (max-width: 1023px) {
        margin: 10px 0 20px 0;
    }

    @media (max-width: 767px) {
        margin: 10px 0 41px 0;
    }
}

.bicycles__item--road {
    padding-top: 10px;
    z-index: 1;

    @media (max-width: 1023px) {
        padding-top: 0;
    }

    &::before {
        position: absolute;
        content: "";
        left: -58px;
        top: 165px;
        width: 180px;
        height: 180px;
        border: 27px solid $aqua;
        border-radius: 50%;
        box-sizing: border-box;
        z-index: -1;

        @media (min-width: 1024px) and (max-width: 1220px) {
            left: -38px
        }

        @media (max-width: 1023px) {
            left: -37px;
            top: 201px;
            width: 127px;
            height: 127px;
            border: 18px solid $aqua;
        }

        @media (max-width: 767px) {
            left: -5px;
        }
    }
}

.bicycles__item--mountain {
    padding-top: 40px;

    @media (max-width: 1023px) {
        padding-top: 0;
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        left: -19px;
        top: 21px;
        width: 47px;
        height: 47px;
        border: 8px solid $aqua;
        box-sizing: border-box;

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &::after {
        transform: translate(337px, 560px);

        @media (min-width: 1024px) and (max-width: 1220px) {
            transform: translate(290px, 560px);
        }
    }
}

.bicycles__item--mountain p {
    @media (max-width: 767px) {
        margin-bottom: 22px;
    }

}

.bicycles__item--kids {

    @media (max-width: 1023px) {
        margin: 21px auto 0;
    }

    @media (max-width: 767px) {
        margin: 21px 0 0;
    }

    &::before {
        position: absolute;
        content: "";
        right: -34px;
        top: -32px;
        width: 95px;
        height: 95px;
        border: 17px solid $aqua;
        border-radius: 50%;
        box-sizing: border-box;

        @media (min-width: 1024px) and (max-width: 1220px) {
            right: -30px
        }

        @media (max-width: 1023px) {
            right: -25px;
            top: -19px;
            width: 68px;
            height: 68px;
            border: 13px solid $aqua;
        }

        @media (max-width: 767px) {
            right: 6px;
        }
    }
}